<% if anonymous_post.valid? %>
<li id="anonymous_post-<%= anonymous_post.id %>">
  <div>
    <span><%= anonymous_post.post_number %>: </span>
    <span><%= anonymous_post.nickname %></span>
    <span class="timestamp"><%= time_text(anonymous_post.created_at) %></span>
    <span class="delete_link"><%= link_to "delete", edit_anonymous_post_path(anonymous_post) %></span>
    <div class="content"><%= anonymous_post.content%></div>
  </div>
</li>
<% else %>

<% end %>