
<div class="thread_post" id="user_post-<%= user_post.id %>">
  <div class="thread_post_header">
    <span class="thread_post_header_number"><%= user_post.post_number %> </span>
    <span class="thread_post_header_name"><%= user_post.user.name %></span>
    <span class="thread_post_header_timestamp"><%= time_text(user_post.created_at) %></span>
    <span class="thread_post_header_delete_link">
      <% if current_user?(user_post.user) %>
        <%= link_to "delete", user_post, method: :delete,
          data: { confirm: "You sure?" } %>
      <% end %>
    </span>
  </div>
  <div class="thread_post_body">
    <div class="thread_post_body_avatar">
      <%= link_to gravatar_for(user_post.user, size: 50), user_post.user %>
    </div>
    <div class="thread_post_body_content">
      <% if controller.action_name == "index" %>
        <%= user_post.content_for_catalog %>
      <% else %>
        <%= user_post.content %>
      <% end %>
    </div>
  </div>
</div>