<%= form_for(@bbs_thread) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :title, placeholder: "title" %>
    <%= f.text_area :content, placeholder: "content" %>
    <%= f.submit "create", class: "btn btn-primary" %>
  </div>
<% end %>