<h1>BbsThreads#show</h1>

<div class="bbs_thread">

  <div class="thread_post">
    <div class="thread_post_header">
      <span class="thread_post_header_number">0</span>
      <span class="thread_post_header_name"><%= @bbs_thread.user.name %></span>
      <span class="thread_post_header_timestamp"><%= time_text(@bbs_thread.created_at) %></span>
      <span class="thread_post_header_delete_link">
        <% if current_user?(@bbs_thread.user) %>
          <%= link_to "delete", @bbs_thread, method: :delete,
            data: { confirm: "You sure?" } %>
        <% end %>
      </span>
    </div>
    <div class="thread_post_body">
      <div class="thread_post_body_avatar"><%= link_to gravatar_for(@bbs_thread.user, size: 50), @bbs_thread.user %></div>
      <div class="thread_post_body_content"><%= @bbs_thread.content %></div>
    </div>
  </div>

  <div>
    <% if logged_in? %>
      <% unless @watch %>
        <%= form_for(Watch.new) do |f| %>
          <div><%= hidden_field_tag :bbs_thread_id, @bbs_thread.id %></div>
          <%= f.submit "Watch", class: "btn btn-primary" %>
        <% end %>
      <% else %>
        <%= form_for(@watch, html: { method: :delete }) do |f| %>
          <%= f.submit "Unwatch", class: "btn" %>
        <% end %>
      <% end %>
    <% end %>
  </div>
  
  <div class="border"></div>

  <% if @all_posts %>
    <%= will_paginate @all_posts %>
    <%= render @all_posts %>
    <%= will_paginate @all_posts %>
  <% end %>
  
  <div>
    <%= form_for(@bbs_post) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <div><%= hidden_field_tag :bbs_thread_id, @bbs_thread.id %></div>
      <% unless @user %>
        <%= f.label "名前" %>
        <%= f.text_field :name, class: 'form-control' %>
      <% end %>
      
      <%= f.label "本文" %>
      <%= f.text_area :content, class: 'form-control'  %>
      
      <% unless @user %>
        <%= f.label "削除パス" %>
        <%= f.text_field :password, class: 'form-control' %>
      <% end %>
  
      <%= f.submit "Post", class: "btn btn-primary" %>
    <% end %>
  </div>

</div>